/* Phone */
@media screen and (max-width: 375px) {
  #editTask {
    display: none;
  }

  #wrapper {
    max-width: 375px;
  }
}

/* Smaller Laptops */
@media (max-height: 800px) {
  .main-content-main {
    padding: 10px 18px 0px 36px;
    max-height: calc(100% - 92px);
  }
}

@media screen and (max-width: 996px) {
  .side-bar {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .tasks-graphics-list {
    margin-right: 20px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 755px) {
  html,
  body {
    overflow: auto;
  }

  #wrapper {
    height: auto;
    background-color: white;
    display: flex;
    flex-shrink: 1;
  }

  .search-bar {
    border: none;
  }
  .main-content-main {
    flex-direction: column;
    height: unset;
    overflow: unset;
  }

  .main-dashboard {
    flex: 0 0 800px;
    filter: none;
  }

  .main-content-main {
    padding: 0;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .dashboard-statusbar-dates {
    flex: 0;
  }

  .dashboard-statusbar-dates-top {
    display: flex;
    flex: 1 1 100%;
  }

  .progress-bar-container {
    display: flex;
    flex-direction: row;
  }

  #greenBar {
    display: flex;
    flex: 1 1 62%;
  }

  #grayBar {
    display: flex;
    flex: 1 1 38%;
  }
  .dashboard-calendar-dates {
    display: none;
  }

  #numberTasksCompleted {
    margin: 4px 28px 16px 24px;
  }

  .progress-bar-container {
    display: flex;
  }

  .statusbar-tasks-completed {
    display: flex;
  }

  .dashboard-calendar-header {
    flex-grow: 0;
    flex-basis: 0;
    border-bottom: 1px solid #eaeff2;
  }

  .progress-bar-container {
    padding: 0 24px 20px 24px;
  }

  #greenBar {
    flex-basis: 64%;
  }

  #grayBar {
    flex-basis: 36%;
  }

  #currentDate {
    margin: 16px 24px;
  }

  .dashboard-tasks-container {
    flex-shrink: 1;
    margin-bottom: 0;
  }

  .statusbar-tasks-completed {
    flex-grow: 0;
  }

  .dashboard-tasks-btn {
    display: none;
  }

  .main-tasks-deals-container {
    margin-left: 0;
    margin-right: 24px;
    gap: 18px;
    filter: none;
  }

  .tasks-graphics-container {
    margin-bottom: 18px;
  }

  .dashboard-tasks-1,
  .dashboard-tasks-2,
  .dashboard-tasks-3 {
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 8%);
  }

  .deals-top-container h2 {
    display: none;
  }

  .tasks-top-container h2 {
    display: none;
  }
}

@media screen and (min-width: 1682px) {
  .tasks-graphics-list ul li {
    font-size: 13px;
  }
}
